# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Python files
# Set default charset
# 4 space indentation
[{*.py,git-got}]
charset = utf-8
indent_style = space
indent_size = 2
